extends layout

block content
  #banner.pahe-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Melbit was created to help people find businesses in Melbourne that accept Bitcoin.
        | <br /><br />
        | This is where I say goodbye old friend. Until we meet again where the Bitcoin is valued at $10000 AUD plus GST.
        | This is where I say goodbye old friend. Until we meet again where the Bitcoin is valued at $10000 AUD plus GST.
        | This is where I say goodbye old friend. Until we meet again where the Bitcoin is valued at $10000 AUD plus GST.| This is where I say goodbye old friend. Until we meet again where the Bitcoin is valued at $10000 AUD plus GST.
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
