extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1.text-center m e l b i t
          h4.text-center Directory of Melbourne-based businesses that accept Bitcoin.

  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Higher Ground
              small &nbsp;
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 100m
            p.address 650 Little Bourke Street, Melbourne 3000
            p
              span.label.label-warning Hot Drinks
              | &nbsp;
              span.label.label-warning Food
              | &nbsp;
              span.label.label-warning Premium Wifi
              | &nbsp;
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Supernova 2.0
              small &nbsp;
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 100m
            p.address 420 Park Avenue, Toorak 3142
            p
              span.label.label-warning Hot Drinks
              | &nbsp;
              span.label.label-warning Food
              | &nbsp;
              span.label.label-warning Premium Wifi
              | &nbsp;
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Higher Ground
              small &nbsp;
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 100m
            p.address 650 Little Bourke Street, Melbourne 3000
            p
              span.label.label-warning Hot Drinks
              | &nbsp;
              span.label.label-warning Food
              | &nbsp;
              span.label.label-warning Premium Wifi
              | &nbsp;
    .col-xs-12.col-sm-4
      p.lead.text-center Have you got Bitcoin but you don't know where to spend it? Look no further, Melbit has you covered. We have a directory filled with Melbourne-based businesses that accept Bitcoin as a currency.
