<navigation></navigation>

<div class="container">

  <page-header content="vm.pageHeader"></page-header>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="filter">Filter results</label>
      <input id="filter" type="text", name="filter", ng-model="textFilter">
      <div class="error">{{ vm.message }}</div>
      <div class="row list-group">
        <div class="col-xs-11 list-group-item" ng-repeat="location in vm.data.locations | filter : textFilter">
          <h4>
            <a href="/#/location/{{ location._id }}">{{ location.name }}</a>
            <small class="rating-stars" rating-stars rating="location.rating"></small>
            <span class="badge pull-right badge-default">{{ location.distance | formatDistance }}</span>
          </h4>
          <p class="address">{{ location.address }}</p>
          <p>
            <span class="label label-warning label-facility" ng-repeat="facility in location.facilities">
              {{ facility }}
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" id="sidebar-content">
      <p class="lead">{{ vm.sidebar.content }}</p>
      <div class="btc-widget">
        <iframe id='widget-ticker-preview' src='//www.coingecko.com/en/widget_component/ticker/bitcoin/aud?id=bitcoin' style='border:none; height:125px; width: 275px;' scrolling='no' frameborder='0' allowTransparency='true'></iframe>
      </div>
      <div class="btc-donate">
        <p>Want to donate to our cause? In the spirit of Bitcoin, please donate via the QR code or wallet address below. </p>
        <img src="/images/qrCode.png" id="qrCode"></a>
        <p>1Mf4XoDDGo4n39G8SKXRsdHq4RYDHMbiq8</p>
      </div>
    </div>
  </div>
  <footer-generic></footer-generic>
</div>
